<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Repositorio GitHub
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-card>
    <img alt="Silhouette of mountains" src="/assets/imagenes/Monica.jpg" style="width: 200px; height: auto; margin: 0 auto;" />
    <ion-card-header>
      <ion-card-title>Mónica Jaña</ion-card-title>
      <ion-card-subtitle>Repositorio de la Prueba</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button href="https://github.com/MonicaJana/PruebaIonic.git" target="_blank">
        GitHub
        <ion-icon slot="end" name="logo-github"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
